@charset "UTF-8";

#span_left {
	float: left;
}

#span_right {
	float: right;
}

#delete_btn {
	float: left;
}

#write_btn {
	float: right;
}

#selectspan_right {
	float: right;
}

#Listjumbotron {
	background: url('../img/test.jpg') no-repeat;
	background-size: 100%;
}

#save_btn {
	float: right;
}

#cancel_btn {
	float: right;
}

.font-sizeup {
	font-size: 20px;
}

.writeview {
	background: url('../img/articleregiste.jpg') no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

.title {
	color: #fff;
}

#writetitle {
	opacity: 0.5;
}

#writecontent {
	opacity: 0.5;
}

#writewriter {
	opacity: 0.5;
}

#update_btn {
	float: right;
}

#onedelete_btn {
	float: right;
}

#Listreturn_btn {
	float: right;
}

#date_up_btn {
	float: right;
}

#date_cancle_btn {
	float: right;
}

.updatebody {
	background: url('../img/update.jpg') no-repeat;
	background-position: 50% 0px;
	background-attachment: fixed;
	background-size: 50%;
}

.readbody {
	background: url('../img/read.jpg') no-repeat;
	background-position: 50% 0px;
	background-attachment: fixed;
	background-size: 50%;
}

#updatetitle {
	opacity: 0.5;
}

#updatecontent {
	opacity: 0.5;
}

#updatewriter {
	opacity: 0.5;
}

/* article List 테이블 스타일  */
th.th_title {
	text-align: center;
}

td {
	text-align: center;
}

td.check_title {
	width: 50px;
}

td.num_title {
	width: 50px;
}

td.subject_title {
	width: 600px;
	text-align: left;
	padding-left: 10px;
}

td.writer_title {
	width: 120px;
}

td.readcount_title {
	width: 100px;
}

/* modal style */
div.modal-content {
	width: 400px;
}

div.modal-footer {
	text-align: center;
}

div.modal-body {
	text-align: center;
}

label.textred {
	font-weight: normal;
	color: red;
}

#footer_logo {
	color: #e8e8e8;
}

div.footer_address {
	color: #e8e8e8;
}

div.footer_category {
	color: #e8e8e8;
}

div.col-sm-2.footer_category ul li a{
	color: #e8e8e8;
}

div.col-sm-2.footer_category ul li a:hover{
	color: #616161;
}